* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

section input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid grey;
}

span {
    color: red;
}

.hide {
    display: none;
}